.whatsapp-float {
    position: fixed;
    width: 60px; /* Largura do ícone */
    height: 60px; /* Altura do ícone */
    bottom: 20px; /* Distância do ícone para a parte inferior da tela */
    right: 20px; /* Distância do ícone para a parte direita da tela */
    z-index: 1000; /* Garante que o ícone fique na frente de outros elementos */
    background-color: #25D366; /* Cor de fundo verde do ícone do WhatsApp */
    border-radius: 50%; /* Bordas arredondadas para deixar o ícone circular */
    display: flex; /* Centraliza o conteúdo dentro do ícone */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao ícone */
    transition: transform 0.3s; /* Efeito de transição ao passar o mouse */
}

.whatsapp-float:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}


/* Remove o efeito de mudança de cor do link após o clique */
.whatsapp-float:link,
.whatsapp-float:visited {
    color: inherit; /* Mantém a cor do ícone inalterada */
    text-decoration: none; /* Remove o sublinhado */
}
