/*Palheta de corres: #EFE8E0  #9D826A  */

html {
  scroll-behavior: smooth
}

body {
  font-family: 'Montserrat', arial;
  margin: 0;
  padding: 0;
  background-color: #EFE8E0;
}

main {
    padding: 20px;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    margin-top: 200px;
    padding: 20px;    padding-bottom: 80px;
    border-bottom: 1px solid #a39789;
}

.video-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    background-color: #EFE8E0;
    max-width: 1000px;
    margin: 20px auto;
    padding-bottom: 80px;
    border-bottom: 1px solid #a39789;
}

.about-us-text-container {
    max-width: 50%;
    text-align: left;
}

.about-us-text-container h2 {
    font-size: 2.5rem;
    color: #7F6044;
}

.about-us-text-container p {
    font-size: 1.2rem;
    color: #7F6044;
    margin-bottom: 20px;
}


.about-us-image-container {
    max-width: 45%;
    border-radius: 10px;
}

.about-us-image-container img {
    width: 120%;
    height: auto;
    border-radius: 10px;
}

.highlight-container {
    padding: 40px;
    text-align: center;
    background-color: #EFE8E0;
    max-width: 1200px;
    margin: 20px auto;
    padding-bottom: 80px;
    border-bottom: 1px solid #a39789;
}

.highlight-container h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #7F6044;
}

.products-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    max-width: 30%;
    margin: 10px;
    text-align: center;
}

.product-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1.2rem;
    color: #555;
}

.change-images-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #7F6044;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-images-button:hover {
    background-color: #9c7b57;
}

.map-container {
  margin: 10px auto;
  max-width: 900px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px;
  text-align: center;
}

.map-description-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 100%;
  text-align: left;
}

.map-description-block {
  flex: 1;
  min-width: 200px;
  text-align: center;
  color: #7F6044;
  padding: 10px;
}

.map-description-block p {
  margin: 0;
  line-height: 1.5;
}

/* Responsivo */
@media (max-width: 768px) {
  .about-us-container, .map-description-container {
    flex-direction: column;
    text-align: center;
  }

  .products-grid {
    flex-direction: column;
  }

  .about-us-text-container, .about-us-image-container {
    max-width: 100%;
  }
}

