@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', arial;
  color: #7F6044;
  text-align: center;
}

.dropbtn {
  background-color: transparent;
  color: #7F6044;
  padding: 10px 15px;
  font-size: 23px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', arial;
  text-decoration: none;
  font-weight: 400;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 70%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Montserrat', arial;
  padding: 0;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-content a {
  color: #7F6044;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat', arial;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
