

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #a39789;
  border-top: 1px solid #a39789;
  background-color: #EFE8E0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
}


.header__logo img {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 5px;
}


.header__nav {
  border-top: 1px solid #a39789;
  margin-top: 20px;
}

.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
  gap: 30px;
}


.header__nav a {
  font-size: 23px;
  text-decoration: none;
  color: #7F6044;
  padding: 10px;
}


.header__nav a:hover {
  color: #9c7b57;
}


.header__social {
  height: 30px;
  font-size: 30px;
  color: #7F6044;
}


.header__social:hover {
  filter: grayscale(0);
}


@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }

  .header__nav {
    margin-bottom: 20px;
  }
}
