/* src/index.css */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

body, html {
  /* font-family: 'Montserrat', sans-serif; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  color: #7F6044
}
